{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Uni</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static 'OpenUni/styles2.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=font1|font2|etc"
      type="text/css"
    />
  </head>
  <body>
    
    <h1>{{ category.category_text }}</h1>
<ul>
{% for provider in category.provider_set.all %}
    <li>{{ provider.provider_name }}</li>
{% endfor %}
</ul>
<form action="{% url 'OpenUni:menu' category.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ .category_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for provider in category.provider_set.all %}
            <input type="radio" name="provider" id="provider{{ forloop.counter }}" value="{{ provider.id }}">
            <label for="provider{{ forloop.counter }}">{{ provider.provider_name }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Menu">
    </form>
  </body>
</html>
