{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static '/OpenUni/stylesheet.css' %}"/>
  </head>
  <body style="background: rgb(150, 75, 18);">
    <h1>Welcome to the home page, Ready to make your next big step???</h1>
    {% if latest_category_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/OpenUni/{{ category.id }}/">{{ category.category_text }}</a></li> 
        <li><a href="{% url 'detail' category.id %}">{{ category.category_text }}</a></li>
        <li><a href="{% url 'OpenUni:detail' category.id %}">{{ category.category_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories available at the moment.</p>
{% endif %}
  </body>
</html>