{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static '/OpenUni/styles.css' %}"/>
    <link rel="stylesheet" href="{% static '/OpenUni/styles2.css' %}"/>
  </head>
  <body>
    <div class="topnav">
      <h1>Open Uni.</h1>
    </div>
    <div class="nav">
      <a href="/">HOME</a> |
      <a href="/categories">DASHBOARD</a> |
      <a href="https://www.w3schools.com/css/default.asp">TOP COURSES</a>
    </div><br>
    <div class="actions">
      <a href="/OpenUni/add/">Add Category</a>
    </div>
    {% if latest_category_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/OpenUni/{{ category.id }}/">{{ category.category_text }}</a></li> 
        <li><a href="{% url 'detail' category.id %}">{{ category.category_text }}</a></li>
        <li><a href="{% url 'OpenUni:detail' category.id %}">{{ category.category_text }}</a></li>
        <li><a href="https://www.w3schools.com/css/default.asp">TOP COURSES</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories available at the moment.</p>
{% endif %}
  </body>
</html>